
<!DOCTYPE html>
<html>
<head>
  <title>Secret Page</title>
</head>
<body>
  <h1>Welcome to the Secret Page!</h1>
  <% if (session.user) { %>
    <p>Hello, <%= session.user.username %>. You are logged in.</p>
   
  <% } else { %>
    <p>You need to log in to access this page.</p>
  <% } %>
</body>
</html>
